doctype html
html
  head
    base(href="/")
    link(rel='stylesheet' type="text/css" href='css/GlavniStil.css')
    

    title=naslov
  body
    img(src='/public/movie.jpg')
    if success
      console.log('uspjesno')
    else
      if errors
        ul
          each v in errors
            li= JSON.stringify(v.msg)
      
    form(action='/submit', method='post')
      table
        tr
          td
            label(for='korisnickoIme') Unesite korisničko ime:
          td
            input#korisnickoIme(type='text', name='korisnickoime', value='')
        tr
          td
            label(for='lozinka') Unesite lozinku:
          td
            input#lozinka(type='password', name='lozinka', value='')
      
      input#prijava(type='submit', name='', value='PRIJAVI SE')
      br
      p=poruka
      a(href='/registracija') registracija
      
    
