doctype html
html
  head
    link(href='css/GlavniStil.css', rel='stylesheet')
    title Filmovi :)
  body
    img(src='/public/movie.jpg')
    h2 Cestitamo uspjesno ste se registrirali
    a(href="/") prijava
